:root {
  --white-place: #fff;
  --border-color: #8f8f8f;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  background: url(../images/tamara-bellis-HY1fq4ZtLTE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3em;
  font-weight: 600;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-png {
  width: 100px;
  height: auto;
  padding: 10px;
}

.header {
  background-color: var(--white-place);
  display: flex;
  justify-content: space-between;
  margin: -7px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 7px;
  border-bottom: 1px solid var(--border-color);
}

.menu-links {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding: 10px;
  list-style-type: none;
  font-size: 0.9em;
}

.menu-links li {
  padding: 0 10px;
}

main {
  background-color: var(--white-place);
  background-size: cover;
  position: relative;
  z-index: 99;
  top: 59px;
  margin: 0 -8px;
}

.right-banner {
  background: url(../images/andrew-neel-st-_pIZEvKM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}

.bottom-banner {
  background-color: #000;
  color: var(--white-place);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-banner img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  padding: 30px;
}

.banner {
  display: flex;
  height: 900px;
}

.left-banner {
    width: 50%;
    border-right: 1px solid var(--border-color);
    padding: 0 0 0 150px;
}

.sub-top-banner {
  text-align: justify;
  padding: 100px 130px;
}

.right-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 20px;
    text-align: justify;
}

.right-cover h5 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.right-cover p {
    font-size: 1.2em;
}

.discover-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #2c5440;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}
